@import "tailwindcss";

@layer theme {
  :root {
    --color-background: #09090b;
    /* Zinc 950 */
    --color-foreground: #fafafa;
    /* Zinc 50 */

    --font-sans: 'Inter', system-ui, sans-serif;
  }
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
}

/* Custom scrollbar for webkit */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #18181b;
}

::-webkit-scrollbar-thumb {
  background: #3f3f46;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #52525b;
}